<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find robot_description)/launch/description.launch" />

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>


    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model m2wr -x $(arg x) -y $(arg y) -z $(arg z)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false" >
      <param name="publish_frequency" type="double" value="5.0" />
    </node>

</launch>

